* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.container {
    margin: 0 6rem;
}
#header {
    position: fixed;
    width: 100%;
    padding: 40px 0;

    .all {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            a {
                font-size: 36px;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .right {
            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                margin-right: 35px;
                position: relative;
                &:hover {
                    &::before {
                        width: 30px;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #e9204f;
                    transition: 0.4s;
                }
            }

            i {
                color: #fff;
                cursor: progress;
            }
        }
    }
}
.first {
    background-image: url(https://gentium.pixerex.com/wp-content/uploads/2019/01/hero_02.jpg);
    background-position: 70% 10rem;
    background-repeat: no-repeat;
    background-size: 640px auto;
    background-color: #000;
    padding: 250px 0 600px;
    hr {
        height: 2px;
        width: 80px;
        margin-bottom: 40px;
        background-color: #e9204f;
        border: 1px solid #e9204f;
    }
    h2 {
        color: #fff;
        font-size: 72px;
        font-weight: 800;
        margin-bottom: 60px;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        padding: 20px 40px;
        border: 2px solid #e9204f;
        position: relative;
        font-weight: bold;
        position: relative;
        transition: 0.4s;
        z-index: 1;
        &:hover {
            border-radius: 50%;
            &::before {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: rotateX(360deg);
            }
            &::after {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transform: rotateX(360deg);
            }
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0%;
            height: 0%;
            transition: 0.4s;
            background-color: #e9204f;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 0%;
            transition: 0.4s;
            background-color: #e9204f;
        }
    }
}
.second {
    .all {
        display: flex;
        justify-content: space-between;
        margin-top: -20rem;
        .box {
            background-color: #1b1b1b;
            width: 32%;
            padding: 50px 30px 60px;
            transition: 0.4s;
            i {
                color: #e9204f;
                font-size: 30px;
                margin-bottom: 60px;
                transition: 0.4s;
            }
            h3 {
                color: #fff;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            p {
                color: #fff;
                font-size: 17px;
                margin-bottom: 15px;
            }
            hr {
                height: 2px;
                width: 50px;
                margin-bottom: 20px;
                background-color: #e9204f;
                border: 1px solid #e9204f;
                transition: 0.4s;
            }
        }
        .box:nth-child(1) {
            background-color: #e9204f;
            i {
                color: #fff;
            }
            hr {
                background-color: #fff;
                border: 1px solid #fff;
            }
        }
        .box:nth-child(2),
        .box:nth-child(3) {
            &:hover {
                background-color: #e9204f;
                hr {
                    background-color: #fff;
                    border: 1px solid #fff;
                    transform: rotate(360deg);
                }
                i {
                    color: #fff;
                }
            }
        }
    }
}
.hr {
    hr {
        text-align: center;
        background-color: #e9204f;
        height: 60px;
        width: 1px;
        margin: 100px auto;
        border: 1px solid #e9204f;
    }
}
.works {
    margin-top: 80px;
    .text-all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            hr {
                height: 2px;
                width: 45px;
                margin-bottom: 20px;
                background-color: #e9204f;
                border: 1px solid #e9204f;
                margin-bottom: 40px;
            }
            h2 {
                font-size: 48px;
                color: #101010;
                font-weight: 700;
            }
            h4 {
                font-size: 18px;
                color: #e9204f;
                font-weight: 700;
                margin: 20px 0 50px;
            }
        }
        .right {
            a {
                text-decoration: none;
                color: #101010;
                font-size: 14px;
                padding: 15px 32px;
                border: 1px solid #e9204f;
                font-weight: bold;
                position: relative;
                transition: 0.4s;
                z-index: 1;
                &:hover {
                    color: #fff;
                    &::before {
                        height: 100%;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    bottom: 0%;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    background-color: #e9204f;
                    transition: 0.4s;
                }
            }
        }
    }
    .gallery {
        display: flex;
        justify-content: space-between;
        .box {
            width: 33%;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                img {
                    filter: grayscale(0) brightness(0.5);
                    transform: scale(1.2);
                }
                .text {
                    opacity: 1;
                    transform: translate(50px, -5px);
                }
            }
            .text {
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 25%;
                transform: translate(-50px, -5px);
                opacity: 0;
                transition: 0.4s;
                h3 {
                    color: #fff;
                    font-size: 25px;
                    font-weight: bolder;
                }
                h4 {
                    color: #fff;
                }
            }
            img {
                width: 100%;
                height: 100%;
                filter: grayscale(1);
                transition: 0.4s;
            }
        }
    }
}
.about {
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            hr {
                height: 2px;
                width: 45px;
                margin-bottom: 20px;
                background-color: #e9204f;
                border: 1px solid #e9204f;
                margin-bottom: 40px;
            }
            h2 {
                color: #101010;
                font-size: 48px;
                font-weight: 700;
            }
            h4 {
                font-size: 18px;
                color: #e9204f;
                font-weight: 700;
            }
        }
        .right {
            p {
                color: #747474;
                font-size: 17px;
                font-weight: 500;
            }
        }
    }
    .all {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .box {
            width: 30%;
            h2 {
                font-size: 22px;
                color: #101010;
                font-weight: bolder;
                margin-bottom: 40px;
            }
            p {
                font-size: 17px;
                color: #747474;
                line-height: 1.4;
            }
        }
    }
}
#client {
    margin: 6rem 0;
    .all {
        display: flex;
        justify-content: space-between;
        .left {
            width: 40%;
            position: relative;
            &::after {
                content: "";
                background-color: #e9204f;
                height: 100px;
                width: 100px;
                bottom: -20px;
                right: -20px;
                z-index: -1;
                position: absolute;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .right {
            width: 55%;
            hr {
                height: 2px;
                width: 45px;
                margin-bottom: 20px;
                background-color: #e9204f;
                border: 1px solid #e9204f;
                margin: 40px 0 50px;
            }
            h2 {
                font-size: 50px;
                color: #101010;
                font-weight: bolder;
                text-transform: capitalize;
                margin-bottom: 30px;
            }
            h4 {
                font-size: 18px;
                color: #e9204f;
                font-weight: 700;
                margin-bottom: 80px;
            }
            p {
                font-size: 24px;
                color: #747474;
                font-weight: 400;
                line-height: 36px;
            }
            h6 {
                font-weight: bolder;
                font-size: 17px;
                color: #101010;
                margin: 100px 0 50px;
            }
        }
    }
}
#brends {
    .all {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        border-top: 1px solid #cac6c6;
        .box {
            width: 22%;
        }
    }
}
#news {
    .text {
        margin-bottom: 100px;
        text-align: center;
        h2 {
            font-size: 48px;
            color: #101010;
            font-weight: bolder;
        }
        h4 {
            font-size: 18px;
            color: #e9204f;
            font-weight: 700;
            margin: 30px 0 0;
            letter-spacing: 0.1px;
        }
    }
    .all {
        display: flex;
        justify-content: space-between;
        .box {
            overflow: hidden;
            width: 33%;
            position: relative;
            &:hover {
                .box-text {
                    transform: translate(-50%, 0);
                    opacity: 1;
                }
                img {
                    filter: grayscale(0.5) brightness(0.5);
                    transform: scale(1.2);
                }
            }
            img {
                width: 100%;
                height: 100%;
                filter: grayscale(1);
                transition: 0.4s;
            }
            .box-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, 50%);
                z-index: 1;
                transition: 0.4s;
                opacity: 0;

                h4 {
                    color: #fff;
                }
                h3 {
                    color: #fff;
                    font-size: 25px;
                }
                i {
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
    }
}
