* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
.container {
    margin: 0 6rem;
}
#header {
    position: fixed;
    width: 100%;
    padding: 40px 0;

    .all {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            a {
                font-size: 36px;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .right {
            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                margin-right: 35px;
                position: relative;
                &:hover {
                    &::before {
                        width: 30px;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #e9204f;
                    transition: 0.4s;
                }
            }

            i {
                color: #fff;
                cursor: progress;
            }
        }
    }
}
.first {
    background-image: url(https://gentium.pixerex.com/wp-content/uploads/2019/01/hero_02.jpg);
    background-position: 70% 10rem;
    background-repeat: no-repeat;
    background-size: 640px auto;
    background-color: #000;
    padding: 250px 0 600px;
    hr {
        height: 2px;
        width: 80px;
        margin-bottom: 40px;
        background-color: #e9204f;
        border: 1px solid #e9204f;
    }
    h2 {
        color: #fff;
        font-size: 72px;
        font-weight: 800;
        margin-bottom: 60px;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        padding: 20px 40px;
        border: 2px solid #e9204f;
        position: relative;
        &:hover {
            &::before {
                width: 100%;
                height: 100%;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 0%;
            top: 0;
            left: 0;
            background-color: #e9204f;
            transition: 0.4s;
        }
    }
}
.second {
    .all {
        display: flex;
        justify-content: space-between;
        margin-top: -80px;
        .box {
            background-color: #1B1B1B;
            width: 27%;
            padding: 40px;
            i {
                color: #e9204f;
            }
            h3 {
            }
            p {
            }
            hr {
                height: 2px;
                width: 50px;
                margin-bottom: 40px;
                background-color: #e9204f;
                border: 1px solid #e9204f;
            }
        }
    }
}
